.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-expansion-panel-header-title {
  color: #618f30 !important;
}

.image_panel {
  margin-top: 1em;
  width: 45%;
}

.ingredient_panel {
  margin-top: 1em;
  float: right;
  overflow: hidden;
  width: 45%;
}

.recipe_panel {
  margin-top: 1em;
  float: left;
  overflow: hidden;
  width: 45%;
}

