<app-header>
  <h1 text style="float: left; margin-top: 0; margin-bottom: 0;">Rezept</h1>
  <div buttons>
    <button (click)="save()" class="button" mat-button style="margin-left: 116em;">
      <mat-icon aria-hidden="false" style="vertical-align: middle;padding-right: 5px">add</mat-icon>Speichern
    </button>
  </div>
</app-header>

<div class="container">
  <mat-expansion-panel class="image_panel" [expanded]="true" [disabled]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bild
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <img *ngIf="!!recipe.imageUrl" [src]="recipe.imageUrl" height="100" width="100" />
    </div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Bild URL" name="imageUrl" [(ngModel)]="recipe.imageUrl"/>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel class="recipe_panel" [expanded]="true" [disabled]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rezept Daten
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="example-full-width">
      <input matInput name="name" [(ngModel)]="recipe.name" placeholder="Name" required/>
    </mat-form-field>

    <!-- <p>Options: {{ ingredients | json }}</p>
    <p>Selected objects: {{ recipe.ingredients | json }}</p> -->

    <mat-form-field class="example-full-width">
      <mat-label>Zutaten</mat-label>
      <mat-select multiple [(ngModel)]="recipe.ingredients">
        <mat-option *ngFor="let obj of ingredients" [value]="obj">{{ obj.name }}</mat-option>
      </mat-select>

      <!-- <mat-select [(ngModel)]="recipe.ingredients" name="ingredient" multiple>
        <mat-option *ngFor="let ing of originalIngredients" [(value)]="ing.id"  >{{ ing.name }}</mat-option>
      </mat-select> -->
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput [(ngModel)]="recipe.preparation" name="preparation" placeholder="Zubereitung"></textarea>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel class="ingredient_panel" [expanded]="true" [disabled]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Zutaten
      </mat-panel-title>
      <mat-panel-description>
          <button (click)="addToShoppingList()" mat-button class="button">
              <mat-icon aria-hidden="false" style="vertical-align: middle;padding-right: 5px">shopping_card</mat-icon>Zutaten zur Einkaufsliste hinzufügen
            </button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngFor="let ingredient of recipe.ingredients">
      <mat-form-field class="example-full-width">
        <input matInput type="number" placeholder="Anzahl von {{ ingredient.name }} in {{ ingredient.unit }}" name="name" [(ngModel)]="ingredient.amount" />
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</div>
